@font-face {
	font-family: 'GoogleSans'; 
	src: url(fonts/GoogleSansText-Regular.ttf); 
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'GoogleSans';
    background: url(img/background.jpg) no-repeat;
    background-color: #01050c;
    margin: 0;
    background-position: center;
}

.bien-glass {
    position: absolute;
    inset: 0;
    /*   Extend the backdrop to the bottom for it to "collect the light" outside of the nav */
    --extended-by: 100px;
    bottom: calc(-1 * var(--extended-by));
  
    --filter: blur(30px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    pointer-events: none;
  
    /*   Cut the part of the backdrop that falls outside of <nav /> */
    --cutoff: calc(100% - var(--extended-by));
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--cutoff),
      transparent var(--cutoff)
    );
}

.bien-glass-edge {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
  
    --extended-by: 80px;
    --offset: 20px;
    --thickness: 2px;
    height: calc(var(--extended-by) + var(--offset));
    /*   Offset is used to snuck the border backdrop slightly under the main backdrop for  smoother effect */
    top: calc(100% - var(--offset) + var(--thickness));
  
    /*   Make the blur bigger so that the light bleed effect spreads wider than blur on the first backdrop */
    /*   Increase saturation and brightness to fake smooth chamfered edge reflections */
    --filter: blur(90px) saturate(160%) brightness(1.3);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    pointer-events: none;
  
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--offset),
      transparent var(--offset)
    );
}

.bien-glass .bien-glass-edge {
    pointer-events: none;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Используйте space-between для размещения элементов справа */
    background-color: #0000007c;
    z-index: 1;
    position: fixed;
    top: 0; /* Используйте 0, чтобы прикрепить панель инструментов к верху */
    padding: 20px;
    width: 100%; /* Занимайте всю ширину */
    box-sizing: border-box; /* Учтите padding в расчетах ширины */
}
.list_icon {
    filter: blur(0);
    width: 30px;
    height: 30px;
    padding: 20px;
}

.title {
    z-index: 2;
    filter: blur(0);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px #000000;
}


.logBtn {
    filter:blur(0);
    background-color: white;
    border-radius: 100px;
    color: black;
    padding: 10px;
    width: 100px;
    border: 1px white;
    cursor: pointer;
}

.regBtn{
    filter:blur(0);
    background-color: white;
    border-radius: 100px;
    color: black;
    padding: 10px;
    width: 100px;
    border: 1px white;
    cursor: pointer;
}

.logBtn:hover{
    background: #a5c0fb;
    transition: .4s background ease;
}

.regBtn:hover{
    background: #a5c0fb;
    transition: .4s background ease;
}

.toolbar_buttons {
    display: flex;
    gap: 10px; /* Добавьте немного промежутка между кнопками */
}

.title_and_icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* черный цвет с прозрачностью */
    padding: 100px;
    text-align: center;
    margin-top: 300px;
}

.overlay-text {
    color: #ffffff; /* белый цвет текста */
    font-size:30px
}

.overlay-button {
    background-color: white;
    border-radius: 100px;
    color: black;
    padding: 10px;
    width: 280px;
    border: 1px white;
    cursor: pointer;
    font-size: 30px;

}

.overlay-button:hover{
    background: #a5c0fb;
    transition: .4s background ease;
}
