@font-face {
	font-family: 'GoogleSans'; 
	src: url(fonts/GoogleSansText-Regular.ttf); 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'GoogleSans';
    background: url(img/background.jpg) no-repeat;
    margin: 0;
    background-position: center;
}
.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.096);
    margin: 30px;
    margin-bottom: 200px;
    border-radius: 100px;
    color: white;
}
.list_icon {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.account_icon {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.title {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.096);
    border-radius: 100px;
    margin: 10px;
    color: #ffffff;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    height: 27px;
    width: 30px;
    margin: 10px 10px 10px 30px;
    background-color: #234f92;
    border-radius: 100px;
    color: rgb(255, 255, 255);
}
.date_title {
    display: flex;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
.date_name {
    display: flex;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
.event_status {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
.times {
    color: rgba(255, 255, 255, 0.603);
    margin: 0px 0px 0px 10px;
    padding-top: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
#dialog {
    border-radius: 10px;
    width: 500px;
    height: 500px;
}
.row {
    display: flex;
    flex-direction: row;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.list_item {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.list_item:hover {
    background-color: #78e487;
    color:black;
}
.abovelist {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
    margin-top: 12px;
    text-decoration: none;
}
.abovelist:hover {
    background-color: #78e487;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color:black;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    width: 200px;
}
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}
.menu:hover .menu-content {
    display: flex;
    flex-direction: column;
}