@font-face {
	font-family: 'GoogleSans'; 
	src: url(fonts/GoogleSansText-Regular.ttf); 
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'GoogleSans';
    background: url(img/background.jpg) no-repeat;
    background-color: #01050c;
    margin: 0;
    background-position: center;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.bien-glass {
    position: absolute;
    inset: 0;
    /*   Extend the backdrop to the bottom for it to "collect the light" outside of the nav */
    --extended-by: 100px;
    bottom: calc(-1 * var(--extended-by));
  
    --filter: blur(30px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    pointer-events: none;
  
    /*   Cut the part of the backdrop that falls outside of <nav /> */
    --cutoff: calc(100% - var(--extended-by));
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--cutoff),
      transparent var(--cutoff)
    );
}
.bien-glass-edge {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
  
    --extended-by: 80px;
    --offset: 20px;
    --thickness: 2px;
    height: calc(var(--extended-by) + var(--offset));
    /*   Offset is used to snuck the border backdrop slightly under the main backdrop for  smoother effect */
    top: calc(100% - var(--offset) + var(--thickness));
  
    /*   Make the blur bigger so that the light bleed effect spreads wider than blur on the first backdrop */
    /*   Increase saturation and brightness to fake smooth chamfered edge reflections */
    --filter: blur(90px) saturate(160%) brightness(1.3);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    pointer-events: none;
  
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0,
      black var(--offset),
      transparent var(--offset)
    );
}
.bien-glass .bien-glass-edge {
    pointer-events: none;
}
.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background-color: #0000007c;
    z-index: 1;
    position: fixed;
    top: auto;
    padding: 20px;
    left: 0;
    right: 0;
}
.list_icon {
    filter: blur(0);
    width: 30px;
    height: 30px;
    padding: 20px;
}
.account_icon {
    width: 30px;
    height: 30px;
    padding: 20px;
    filter: blur(0);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.096);
}
.event_icon {
    filter: blur(0);
    width: 25px;
    height: 25px;
    padding: 20px;
}
.title {
    z-index: 2;
    filter: blur(0);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px #000000;
}
.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.096);
    border-radius: 100px;
    margin: 10px;
    color: #ffffff;
}
.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    height: 27px;
    width: 30px;
    margin: 10px 10px 10px 30px;
    background-color: #234f92;
    border-radius: 100px;
    color: rgb(255, 255, 255);
}
.date_title {
    display: flex;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
.date_name {
    display: flex;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
.event_status {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
.times {
    color: rgba(255, 255, 255, 0.603);
    margin: 0px 0px 0px 10px;
    padding-top: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px #000000;
}
#dialog {
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    width: 500px;
    height: 500px;
    color: white;
}
.row {
    display: flex;
    flex-direction: row;
}
.row_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.list_item {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.list_item:hover {
    background-color: #78e487;
    color:black;
}
.abovelist {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-top: 3px;
    text-decoration: none;
    background: none;
}
.abovelist:hover {
    background-color: #78e487;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color:black;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    border-top-left-radius: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    width: 200px;
}
.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}
.menu:hover .menu-content {
    display: flex;
    flex-direction: column;
}
#ok {
    justify-content: center;
    align-items: center;
    text-align: center;
}