@font-face {
	font-family: 'GoogleSans'; 
	src: url(GoogleSansText-Regular.ttf); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-position: center;
}

.login{
    width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 30px;
    padding: 30px 30px;
}
.login h1{
    text-align: center;
    font-size: 36px;
    font-family: 'GoogleSans'; 
    src: url(GoogleSansText-Regular.ttf); 
}
.input{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}
.input i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.RegBtn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: .4s background ease;
}
.RegBtn:hover{
    background: #a5c0fb;
    transition: .4s background ease;
}
.register{
    text-align: center;
    margin-top: 15px;
	font-family: 'GoogleSans'; 
	src: url(GoogleSansText-Regular.ttf); 
}
.register a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: .4s color ease;
}
.register a:hover{
    color: #a5c0fb;
    transition: .4s color ease;
}

.LogBtn{
    cursor: pointer;
}
